sudo: required

services:
  - docker

language: generic

env:
  global:
    - REPO=jokka/pestle
    - TAG=$TRAVIS_BRANCH
    - COMMIT=${TRAVIS_COMMIT::8}

after_success:
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
  - docker build -f Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker push $REPO:$TAG
